
html{
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
   
    height: 100%;
    width: 100%;
    min-height: 100%;
    /* background: linear-gradient(to right,  rgb(36, 37, 60,0.9),rgb(121, 75, 253,0.9)), url(../images/dollar.png); */
    /* background: linear-gradient(to top right, rgba(95, 81, 189), rgb(187, 99, 168)); */
    /* background-color:rgb(64, 130, 178); */
     background: linear-gradient(to top, rgba(64, 130, 178), rgba(29, 161, 242));
overflow-x: hidden;
overflow-y: hidden;
        /* background: linear-gradient(to bottom, rgba(216, 230, 64, 0.8), rgba(28, 206, 255, 0.4)), url(../images/aaa.png); */
        /* background-image: url(../images/aaa.png); */
        /* background-size: 100% 100%; */

        
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    body:: before{
        height: 100%;
        width: 100%;
        margin: 0;
    }
    
    
    
    }
    @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        body:: before{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        
        
        
    
    
    }
    @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        body:: before{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        
        
        
    
    
    }
    @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
        body:: before{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        
        
        
    
    }
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    
        body:: before{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        
        
        
    
    }
    @media (min-width:1281px) { /* hi-res laptops and desktops */
    
        body:: before{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        
        
        
    
    }

.upperdiv{
        height: 30%;
        width: 85%;
        left: 0;
        background-color: white;
        border: 1px solid #DADADA;
        border-bottom-right-radius: 80%;
        transform-origin:bottom left;
    -ms-transform: skew(0deg,-17deg);
    -webkit-transform: skew(0deg,-17deg);
    transform: skew(0deg,-17deg);
    -moz-box-shadow:    inset -2px -2px 1px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow: inset -2px -2px 1px  rgba(50, 50, 50, 0.3);
   box-shadow:         inset -2px -2px 1px  rgba(49, 49, 49, 0.3);
}


.lowerdiv{
    bottom: 0;
    right: 0;
    height: 30%;
    width: 85%;
    background-color: white;    
    position:absolute;
    border-top-left-radius: 150%;
    /* transform-origin:bottom left; */
    /* -ms-transform: skew(0deg,-5deg);
    -webkit-transform: skew(0deg,-5deg);
    transform: skew(0deg,deg); */
    -moz-box-shadow:    inset 2px 2px 1px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow: inset 2px 2px 1px  rgba(50, 50, 50, 0.3);
   box-shadow:         inset 2px 2px 1px  rgba(49, 49, 49, 0.3);

}

.sidediv{
   
    left: 0;
    margin-top:1%;
    height: 50%;
    width: 10%;
        /* border: 1px solid black; */
  
    z-index: 3;

}
.signupbutton{
    outline:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 10px 3px 10px 10px;

    text-align: left;
    left: 0;
    position: relative;
    width: 100%;
    display: block;
    background-color: rgba(64, 130, 178);
    /* height: 45%; */
    border-right: 1px solid white;
    border-top: 1px solid  white;

    border-bottom: 1px solid white;
    border-left:  1px solid white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    -moz-box-shadow:     0px 13px 10px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow:  0px 13px 10px  rgba(50, 50, 50, 0.3);
   box-shadow:          0px 13px 10px  rgba(49, 49, 49, 0.3);
}

.loginbutton{
    outline:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    padding: 10px 3px 10px 10px;

    text-align: left;
    left: 0;
    position: relative;
    width:100%;
    margin-top: 5%;
    background-color: rgba(241, 119, 210, 0);
    /* height: 45%; */
    /* border-right: 1px solid rgba(241, 119, 210, 0.5); 
    border-top: 1px solid rgba(241, 119, 210, 0.5); 
    border-bottom: 1px solid rgba(241, 119, 210, 0.5);
    border-left:  1px solid rgba(241, 119, 210, 0.5); */
    border-right: 1px solid white;
    border-top: 1px solid  white;

    border-bottom: 1px solid white;
    border-left:  1px solid white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    /* -moz-box-shadow:     0px 13px 10px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow:  0px 13px 10px  rgba(50, 50, 50, 0.3);
   box-shadow:          0px 13px 10px  rgba(49, 49, 49, 0.3); */
}

.loginmodal{
    display: none;
    padding: 10px 10px 10px 25px;
    margin-top: -130%;
    margin-left: 20%;
    margin-right: -10%;
    /* overflow: hidden; */

    height: 70%;
    width: 95%;
    /* border: 2px solid rgb(68, 66, 110); */
    z-index: 5;
    position: relative;
    border-radius: 40px;
    /* background: linear-gradient(to top right,rgb(68, 66, 110),rgb(36, 37, 60),rgb(36, 37, 60)); */
    /* background: linear-gradient(to top right, rgba(95, 81, 189), rgb(187, 99, 168),rgb(91, 96, 187),rgb(175, 74, 165)); */
    
    background: linear-gradient(to top, rgba(64, 130, 178), rgba(29, 161, 242));

    /* background: linear-gradient(to right,  rgb(36, 37, 60,0.9),rgb(121, 75, 253,0.9)), url(../images/dollar.png); */
    /* background: linear-gradient(to top right, rgba(180, 116, 235), rgb(121, 75, 253) ,rgb(36, 37, 60)); */
    -moz-box-shadow:     -5px 8px 10px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow:  -5px 8px 10px  rgba(50, 50, 50, 0.3);
   box-shadow:          -5px 8px 10px  rgba(49, 49, 49, 0.3);
}
.signupmodal{
    display: block;
    padding: 10px 10px 10px 25px;
    margin-top: -130%;
    margin-left: 20%;
    margin-right: -10%;
    /* overflow: hidden; */

    height: 70%;
    width: 95%;
    /* border: 2px solid rgb(68, 66, 110); */
    z-index: 5;
    position: relative;
    border-radius: 40px;
    /* background-color: rgb(36, 37, 60); */

    /* background: linear-gradient(to top right, rgba(180, 116, 235), rgb(133, 163, 210) ,rgb(71, 170, 155)); */
    /* background: linear-gradient(to top right,rgb(36, 37, 60),rgb(68, 66, 110)  ,rgb(36, 37, 60)); */
    /* background: linear-gradient(to top right, rgb(91, 96, 187),rgba(95, 81, 189), rgb(187, 99, 168),rgb(91, 96, 187)); */
    background: linear-gradient(to top, rgba(64, 130, 178), rgba(29, 161, 242));

    -moz-box-shadow:     -5px 8px 10px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow:  -5px 8px 10px  rgba(50, 50, 50, 0.3);
   box-shadow:          -5px 8px 10px  rgba(49, 49, 49, 0.3);
}
.signupword{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid white;
    display:block;
    padding-bottom: 15px;

}
.loginword{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display:block;
    border-bottom: 1px solid white;
    padding-bottom: 15px;

}

.signup-form{

    display: block;
    position: relative;
    color: white;
    
    font-family: 'Courier New', Courier, monospace;
    /* background: linear-gradient(to bottom, rgba(216, 230, 64, 0.8), rgba(77, 174, 8, 0.9)), url(../images/business.jpg); */
    font-size: 20px;
    outline: none;
    text-decoration: none;
    text-align: left;

    
}
.signup-form input{
    /* display: inline-block; */
    background-color: rgba(255, 255, 255, 0.4) ;
    outline: 0;
 border-width: 0 0 0 0;
  border-color: white;
  color: black;
  opacity: 1;
  padding: 10px 10px 10px 10px;
  width: 63%;
  border-radius: 15px;
  color: black;
 

 
  /* box-shadow: 1px 1px 1px #aaaaaa; */
  
 
  /* border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
  
}

h6{
    margin: 5% 0 3px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-left: 5px;
}

.signupbutton2{
        
     position: absolute; 
left: 20%;
bottom: -15px;
    color: rgb(64, 130, 178);
    background-color: rgba(255, 255, 255) ;
    outline: 0;
 border-width: 0 0 0 0;
  border-color: white;
  
  opacity: 1;
  padding: 10px 10px 10px 10px;
  width: 40%;
  border-radius: 15px;
  -moz-box-shadow:     -5px 8px 10px  rgba(49, 49, 49, 0.3);
   -webkit-box-shadow:  -5px 8px 10px  rgba(50, 50, 50, 0.3);
   box-shadow:          -5px 8px 10px  rgba(49, 49, 49, 0.3);
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
 
  

}
.loginbutton2{
    position: absolute; 
    left: 20%;
    bottom: -15px;
    color: rgb(64, 130, 178);
        background-color: rgba(255, 255, 255) ;
        outline: 0;
     border-width: 0 0 0 0;
      border-color: white;
      
      opacity: 1;
      padding: 10px 10px 10px 10px;
      width: 40%;
      border-radius: 15px;
      -moz-box-shadow:     -5px 8px 10px  rgba(49, 49, 49, 0.3);
       -webkit-box-shadow:  -5px 8px 10px  rgba(50, 50, 50, 0.3);
       box-shadow:          -5px 8px 10px  rgba(49, 49, 49, 0.3);
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
     
}